@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&family=Special+Gothic+Expanded+One&display=swap");

@import "tailwindcss";

@theme {
  --font-grotesque: "Darker Grotesque", "sans-serif";
  --font-gothic: "Special Gothic Expanded One", "sans-serif";
  --breakpoint-2md: 52.125rem;
  --breakpoint-HD: 90rem;
}
