@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&family=Libre+Barcode+39+Text&family=Special+Gothic+Expanded+One&display=swap");
@import "tailwindcss";

@theme {
  --font-grotesque: "Darker Grotesque", "sans-serif";
  --font-gothic: "Special Gothic Expanded One", "sans-serif";
  --font-barcode: "Libre Barcode 39 Text", "system-ui";
}
